[defaults]
roles_path = roles
deprecation_warnings = True
vault_password_file = .vault_password
host_key_checking = True
any_errors_fatal = True

[privilege_escalation]
become = true
become_method = sudo
